#art {
	margin: 1em;
	float: left;
	width: 120px;
	height: auto;
	border: 2px solid black;
}

#player {
	display: flex;
	flex-direction: row;
	width: 50%;
	max-width: 600px;
	height: calc(2em + 120px + 4px);
	background: lawngreen;
	position: absolute;
	left: calc(50% - 200px - 2em);
	top: calc(50% - 125px);
}

#player p {
	text-align: center;
}

#track {
	font-size: 1.2em;
}

body {
	background: darkolivegreen;
}

#volume {
	-webkit-appearance: slider-vertical;
	width: 2em;
}