@font-face {
  font-family: assistant;
  src: url(assistant/Assistant-Regular.ttf);
}

body {
	z-index: -999;
	background: #0d0d0d;
	font: white;
	font-family: assistant;
}

#art {
	height: auto;
	width: 175px;
	margin-right: 1em;
}

.flex-v, .flex-h {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-v { flex-direction: column; }
.flex-h { flex-direction: row; }

#player {
	position: absolute;
	max-width: 600px;
	border: 1px solid #88FF88;
	border-radius: 5px;
	background: #262626;
	padding: 1em;
	color: #CCFFCC;
	font-weight: bolder;
}

#controls { margin-top: 1em; }

#controls > div {
	font-size: 3.5em;
	margin: 0.1em;
}

#controls > div:nth-child(2) { font-size: 4em; }

#controls > div > * {
	height: 1em;
	width: auto;
}

#track { font-size: 1.2em; }

html, body {
	height: 100%;
	margin: 0;
}

#volume {
	-webkit-appearance: slider-vertical;
	width: 3em;
}

canvas {
	display: block;
	position: fixed;
	left:0;
	top:0;
}

#credits {
	position: fixed;
	bottom: 1em;
	left: 1em;
	font-weight: bold;
	color: #CCFFCC;
}

#credits a { color: #88FF88; }

#options {
	position: fixed;
	bottom: 1em;
	right: 1em;
	font-weight: bold;
	color: #CCFFCC;
}