@font-face {
  font-family: assistant;
  src: url(assistant/Assistant-Regular.ttf);
}

#art {
	margin: 1em;
	float: left;
	height: auto;
	width: 30%;
	padding-left: 100%
	border: 2px solid black;
}

#info{
	padding: 10px;
	padding-right: 20px;
}

#player {
	position: absolute;
	display: flex;
	flex-direction: row;

	max-width: 600px;
	min-width: 300px;
	left: calc(50% - 200px - 2em);
	height: calc(4em + 120px + 20px);
	top: calc(50% - 125px);

	margin-right: calc(50% - 200px - 2em)
	margin-bottom: 20px;
	
	border: 1px solid white;
	border-radius: 5px;
	background: #262626;
}

#player p {
	text-align: center;
	color: white;
}

#track {
	font-size: 1.2em;
}

body {
	background: darkolivegreen;
	z-index: -999;
	background: #0d0d0d;
	font: white;
	font-family: assistant;
	margin: 0;
}

#volume {
	position: relative;
	-webkit-appearance: slider-vertical;
	width: 2em;
	height: 90%;
	top: 5%;
}

canvas {
	display: block;
}